<!--banner-->
  <div  id="home" class="banner">
    <div class="banner-info">
      <div class="banner-top">
        <div class="container">
          <div class="col-md-6 banner-top-left wow slideInDown animated" data-wow-delay=".5s">
            <ul class="social-icons">
              <li><a href="#"> </a></li>
              <li><a href="#" class="fb"> </a></li>
              <li><a href="#" class="in"> </a></li>
              <li><a href="#" class="dott"> </a></li>
            </ul>
          </div>
          <div class="col-md-6 banner-top-right wow slideInDown animated" data-wow-delay=".5s">
            <p><span class="glyphicon glyphicon-earphone"></span> +7 978 887 34 61 </p>
            <p><%= link_to_unless_current "English", locale: "en" %> | <%= link_to_unless_current "Русский", locale: "ru" %></p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="banner-text">
        <h1 class="wow slideInLeft animated" data-wow-delay=".5s"><%= t "banner.title" %></h1>
        <p class="wow slideInRight animated" data-wow-delay=".5s"><%= t "banner.description" %></p>
      </div>
      <!--navigation-->
      <div class="top-nav wow">
        <div class="container">
          <div class="navbar-header logo">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><%= t "navigation.menu" %>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="menu">
              <ul class="nav navbar">
                <li class="menu-item menu-item-current"><a href="#home" class="menu-link scroll"><%= t "navigation.home" %></a></li>
                <li class="menu-item"><a href="#about" class="menu-link scroll"><%= t "navigation.about" %></a></li>
                <li class="menu-item"><a href="#services" class="menu-link scroll"><%= t "navigation.services" %></a></li>
                <li class="menu-item"><a href="#work" class="menu-link scroll"><%= t "navigation.works" %></a></li>
                <li class="menu-item"><a href="#gallery" class="menu-link scroll"><%= t "navigation.gallery" %></a></li>
                <li class="menu-item"><a href="#contact" class="menu-link scroll"><%= t "navigation.contact" %></a></li>
              </ul>
            </div>
            <div class="clearfix"> </div>
            <%= javascript_include_tag "add_remove_current_nav" %>
          </div>
        </div>
      </div>  
      <!--//navigation-->
    </div>
  </div>
  <!--//banner-->
