<!--services-->
<div class="welcome services" id="services">
  <div class="container">
    <h3 class="title wow fadeInDown animated" data-wow-delay=".5s"><%= t "services.title" %></h3>
    <div class="services-info">
      <div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
        <div class="service">
          <div class="icon-holder">
            <span class="glyphicon glyphicon-book"></span>
          </div>
          <h4 class="heading"><%= t "services.title1" %></h4>
          <p class="text"><%= t "services.description1" %></p>
        </div>
      </div>
      <div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
        <div class="service">
          <div class="icon-holder">
            <span class="glyphicon glyphicon-education"></span>
          </div>
          <h4 class="heading"><%= t "services.title2" %></h4>
          <p class="text"><%= t "services.description2" %></p>
        </div>
      </div>
      <div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
        <div class="service">
          <div class="icon-holder">
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </div>
          <h4 class="heading"><%= t "services.title3" %> </h4>
          <p class="text"><%= t "services.description3" %></p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--//services-->