<!--welcome-->
<div class="welcome" id="about">
  <div class="container">
    <h2 class="title wow slideInDown animated" data-wow-delay=".5s"><%= t "welcome.title" %></h2>
    <div class="col-md-4 welcome-left wow slideInLeft animated" data-wow-delay=".5s">
      <img src="images/img1.jpg" alt=""/>
    </div>
    <div class="col-md-8 welcome-right wow slideInRight animated" data-wow-delay=".5s">
      <h5>01</h5>
      <h4><%= t "welcome.title01" %></h4>
      <p><%= t "welcome.description01" %> </p>
    </div>
    <div class="clearfix"> </div>
    <div class="col-md-7 welcome-bottom-left wow slideInLeft animated" data-wow-delay=".5s">
      <img src="images/img2.jpg" alt=""/>
      <h5>02</h5>
      <h4><%= t "welcome.title02" %></h4>
      <p><%= t "welcome.description02" %></p>
    </div>
    <div class="col-md-5 welcome-bottom-right wow slideInRight animated" data-wow-delay=".5s">
      <div class="welcome-grid-left">
        <img src="images/img3.jpg" alt=""/>
      </div>
      <div class="welcome-grid-right">
        <h5>03</h5>
        <h4><%= t "welcome.title03" %></h4>
        <p><%= t "welcome.description03" %></p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!--//welcome-->