<!--work-->
<div class="welcome work" id="work">
  <div class="container">
    <div class="work-info">
      <div class="col-md-3 work-grids work-grd1 wow slideInLeft animated" data-wow-delay=".5s">
        <h3 class="title"><%= t "work.title" %></h3>
        <p><%= t "work.description" %></p>
        <ul>
          <li><span class="glyphicon glyphicon-ok-circle"></span><%= t "work.paragraph1" %></li>
          <li><span class="glyphicon glyphicon-ok-circle"></span><%= t "work.paragraph2" %></li>
          <li><span class="glyphicon glyphicon-ok-circle"></span><%= t "work.paragraph3" %></li>
          <li><span class="glyphicon glyphicon-ok-circle"></span><%= t "work.paragraph4" %></li>
        </ul>
      </div>
      <div class="col-md-3 work-grids wow zoomIn animated" data-wow-delay=".5s">
        <img src="images/img4.jpg" alt=""/>
        <div class="img-caption">
          <div class="img-text">
            <h4><%= t "work.image1"%></h4>
            <p><%= t "work.description1"%></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 work-grids wow zoomIn animated" data-wow-delay=".5s">
        <img src="images/img5.jpg" alt=""/>
        <div class="img-caption">
          <div class="img-text">
            <h4><%= t "work.image2"%></h4>
            <p><%= t "work.description2"%></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 work-grids wow zoomIn animated" data-wow-delay=".5s">
        <img src="images/img6.jpg" alt=""/>
        <div class="img-caption">
          <div class="img-text">
            <h4><%= t "work.image3"%></h4>
            <p><%= t "work.description3"%></p>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--//work-->