<%= render "shared/banner" %>
<%= render "shared/welcome" %>
<%= render "shared/services" %>
<%= render "shared/work" %>
<%= render "shared/slid" %>
<%= render "shared/gallery" %>
  <!--contact -->
  <div class="welcome contact" id="contact">
    <div class="container">
      <h3 class="title wow fadeInDown animated" data-wow-delay=".5s"><%= t "contact.title"%></h3>
      <div class="contact-row">
        <div class="col-md-6 contact-left">
          <iframe class="wow slideInLeft animated" data-wow-delay=".5s" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 contact-right wow slideInRight animated" data-wow-delay=".5s">
          <h4><%= t "contact.address1"%></h4>
          <div class="address-left">
            <p><%= t "contact.description1"%></p>
          </div>
          <div class="address-right">
            <p><%= t "contact.phone"%></p>
            <p>E-mail : <a href="mailto:info@example.com">mail@example.com</a></p>
          </div>
          <div class="clearfix"></div>
          <!--accordion-->
          <div class="info">
            <h4><%= t "contact.useful"%></h4>
            <ul class="faq">
              <li class="item1 wow fadeInDown animated" data-wow-delay=".5s"><a href="#"><span class="glyphicon glyphicon-chevron-down"></span><%= t "contact.hint1"%></a>
                <ul>
                  <li class="subitem1"><p><%= t "contact.description1"%></p></li>                    
                </ul>
              </li>
              <li class="item2 wow fadeInDown animated" data-wow-delay=".5s"><a href="#"><span class="glyphicon glyphicon-chevron-down"></span> <%= t "contact.hint2"%></a>
                <ul>
                  <li class="subitem1"><p><%= t "contact.description2"%></p></li>                   
                </ul>
              </li>
              <li class="item3 wow fadeInDown animated" data-wow-delay=".5s"><a href="#"><span class="glyphicon glyphicon-chevron-down"></span> <%= t "contact.hint3"%></a>
                <ul>
                  <li class="subitem1"><p><%= t "contact.description3"%></p></li>                    
                </ul>
              </li>
              <li class="item4 wow fadeInDown animated" data-wow-delay=".5s"><a href="#"><span class="glyphicon glyphicon-chevron-down"></span> <%= t "contact.hint4"%></a>
                <ul>
                  <li class="subitem1"><p><%= t "contact.description4"%></p></li>                   
                </ul>
              </li> 
            </ul>
            <!-- script for tabs -->
            <script type="text/javascript">
              $(function() {
              
                var menu_ul = $('.faq > li > ul'),
                     menu_a  = $('.faq > li > a');
                
                menu_ul.hide();
              
                menu_a.click(function(e) {
                  e.preventDefault();
                  if(!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true,true).slideDown('normal');
                  } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true,true).slideUp('normal');
                  }
                });
              
              });
            </script>
            <!-- script for tabs -->
          </div>
          <!--accordion-->
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="contact-form">
        <h3 class="title wow fadeInDown animated" data-wow-delay=".5s"><%= t "accordion.title"%></h3>
        <p><%= t "accordion.description"%></p>
            <%= form_for @contact do |message_form| %>
              <% if @contact.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this message from being saved:</h2>
                  <ul>
                  <% @contact.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <fieldset>
                <div class="field">
                  <%= message_form.text_field :name, placeholder: "Name", required: "" %>
                </div>
                
                <div class="field">
                  <%= message_form.email_field :email, placeholder: "Email", required: ""%>
                </div>
                
                <div class="field">
                  <%= message_form.text_area :message, placeholder: "Message", required: ""%>
                </div>
              </fieldset>
              
              <fieldset>
                <div class="field" class="wow zoomIn animated" data-wow-delay=".5s">
                  <%= message_form.submit "Send" %>
                </div>
              </fieldset>
            <% end %>

      </div>
    </div>
  </div>
  <!--//contact -->
<%= render "shared/footer" %>
