<!--banner-->
  <div  id="home" class="banner">
    <div class="banner-info">
      <div class="banner-top">
        <div class="container">
          <div class="col-md-6 banner-top-left wow slideInDown animated" data-wow-delay=".5s">
            <ul class="social-icons">
              <li><a href="#"> </a></li>
              <li><a href="#" class="fb"> </a></li>
              <li><a href="#" class="in"> </a></li>
              <li><a href="#" class="dott"> </a></li>
            </ul>
          </div>
          <div class="col-md-6 banner-top-right wow slideInDown animated" data-wow-delay=".5s">
            <p><span class="glyphicon glyphicon-earphone"></span> +7 978 887 34 61 </p>
            <p><%= link_to_unless_current "English", locale: "en" %> | <%= link_to_unless_current "Русский", locale: "ru" %></p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="banner-text">
        <h1 class="wow slideInLeft animated" data-wow-delay=".5s"><%= t "banner.title" %></h1>
        <p class="wow slideInRight animated" data-wow-delay=".5s"><%= t "banner.description" %></p>
      </div>
      <!--navigation-->
      <div class="top-nav wow">
        <div class="container">
          <div class="navbar-header logo">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><%= t "navigation.menu" %>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="menu">
              <ul class="nav navbar">
                <li class="menu-item menu-item-current"><a href="#home" class="menu-link scroll"><%= t "navigation.home" %></a></li>
                <li class="menu-item"><a href="#about" class="menu-link scroll"><%= t "navigation.about" %></a></li>
                <li class="menu-item"><a href="#services" class="menu-link scroll"><%= t "navigation.services" %></a></li>
                <li class="menu-item"><a href="#work" class="menu-link scroll"><%= t "navigation.works" %></a></li>
                <li class="menu-item"><a href="#gallery" class="menu-link scroll"><%= t "navigation.gallery" %></a></li>
                <li class="menu-item"><a href="#contact" class="menu-link scroll"><%= t "navigation.contact" %></a></li>
              </ul>
            </div>
            <div class="clearfix"> </div>
            <script src="js/classie.js"></script>
            <script>
              (function() {
                [].slice.call(document.querySelectorAll('.menu')).forEach(function(menu) {
                  var menuItems = menu.querySelectorAll('.menu-link'),
                    setCurrent = function(ev) {
                      ev.preventDefault();

                      var item = ev.target.parentNode; // li
                      
                      // return if already current
                      if( classie.has(item, 'menu-item-current') ) {
                        return false;
                      }
                      // remove current
                      classie.remove(menu.querySelector('.menu-item-current'), 'menu-item-current');
                      // set current
                      classie.add(item, 'menu-item-current');
                    };
                  
                  [].slice.call(menuItems).forEach(function(el) {
                    el.addEventListener('click', setCurrent);
                  });
                });
              })(window);
            </script>
          </div>
          <!-- script-for sticky-nav -->
          <script>
          $(document).ready(function() {
             var navoffeset=$(".top-nav").offset().top;
             $(window).scroll(function(){
              var scrollpos=$(window).scrollTop(); 
              if(scrollpos >=navoffeset){
                $(".top-nav").addClass("fixed");
              }else{
                $(".top-nav").removeClass("fixed");
              }
             });
             
          });
          </script>
          <!-- /script-for sticky-nav -->
        </div>
      </div>  
      <!--//navigation-->
    </div>
  </div>
  <!--//banner-->
  <!--welcome-->
  <div class="welcome" id="about">
    <div class="container">
      <h2 class="title wow slideInDown animated" data-wow-delay=".5s"><%= t "welcome.title" %></h2>
      <div class="col-md-4 welcome-left wow slideInLeft animated" data-wow-delay=".5s">
        <img src="images/img1.jpg" alt=""/>
      </div>
      <div class="col-md-8 welcome-right wow slideInRight animated" data-wow-delay=".5s">
        <h5>01</h5>
        <h4><%= t "welcome.title01" %></h4>
        <p><%= t "welcome.description01" %> </p>
      </div>
      <div class="clearfix"> </div>
      <div class="col-md-7 welcome-bottom-left wow slideInLeft animated" data-wow-delay=".5s">
        <img src="images/img2.jpg" alt=""/>
        <h5>02</h5>
        <h4><%= t "welcome.title02" %><</h4>
        <p><%= t "welcome.description02" %></p>
      </div>
      <div class="col-md-5 welcome-bottom-right wow slideInRight animated" data-wow-delay=".5s">
        <div class="welcome-grid-left">
          <img src="images/img3.jpg" alt=""/>
        </div>
        <div class="welcome-grid-right">
          <h5>03</h5>
          <h4><%= t "welcome.title03" %><</h4>
          <p><%= t "welcome.description03" %></p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!--//welcome-->
  <!--services-->
  <div class="welcome services" id="services">
    <div class="container">
      <h3 class="title wow fadeInDown animated" data-wow-delay=".5s"><%= t "services.title" %></h3>
      <div class="services-info">
        <div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
          <div class="service">
            <div class="icon-holder">
              <span class="glyphicon glyphicon-book"></span>
            </div>
            <h4 class="heading"><%= t "services.title1" %></h4>
            <p class="text"><%= t "services.description1" %></p>
          </div>
        </div>
        <div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
          <div class="service">
            <div class="icon-holder">
              <span class="glyphicon glyphicon-education"></span>
            </div>
            <h4 class="heading"><%= t "services.title2" %></h4>
            <p class="text"><%= t "services.description2" %></p>
          </div>
        </div>
        <div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
          <div class="service">
            <div class="icon-holder">
              <span class="glyphicon glyphicon-thumbs-up"></span>
            </div>
            <h4 class="heading"><%= t "services.title3" %> </h4>
            <p class="text"><%= t "services.description3" %></p>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!--//services-->
  <!--work-->
  <div class="welcome work" id="work">
    <div class="container">
      <div class="work-info">
        <div class="col-md-3 work-grids work-grd1 wow slideInLeft animated" data-wow-delay=".5s">
          <h3 class="title"><%= t "work.title" %></h3>
          <p><%= t "work.description" %></p>
          <ul>
            <li><span class="glyphicon glyphicon-ok-circle"></span><%= t "work.paragraph1" %></li>
            <li><span class="glyphicon glyphicon-ok-circle"></span><%= t "work.paragraph2" %></li>
            <li><span class="glyphicon glyphicon-ok-circle"></span><%= t "work.paragraph3" %></li>
            <li><span class="glyphicon glyphicon-ok-circle"></span><%= t "work.paragraph4" %></li>
          </ul>
        </div>
        <div class="col-md-3 work-grids wow zoomIn animated" data-wow-delay=".5s">
          <img src="images/img4.jpg" alt=""/>
          <div class="img-caption">
            <div class="img-text">
              <h4><%= t "work.image1"%></h4>
              <p><%= t "work.description1"%></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 work-grids wow zoomIn animated" data-wow-delay=".5s">
          <img src="images/img5.jpg" alt=""/>
          <div class="img-caption">
            <div class="img-text">
              <h4><%= t "work.image2"%></h4>
              <p><%= t "work.description2"%></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 work-grids wow zoomIn animated" data-wow-delay=".5s">
          <img src="images/img6.jpg" alt=""/>
          <div class="img-caption">
            <div class="img-text">
              <h4><%= t "work.image3"%></h4>
              <p><%= t "work.description3"%></p>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!--//work-->
  <!--slid-->
  <div class="slid">
    <div class="container">
      <h3 class="wow slideInDown animated" data-wow-delay=".5s"><%= t "slid.title"%><br>
        <%= t "slid.workdays"%><br>
        <%= t "slid.weekends"%><br>
        <span class="glyphicon glyphicon-earphone"></span> +11 999 8888 7777 </h3>
      <p class="wow fadeInUp animated" data-wow-delay=".5s"><%= t "slid.description"%></p>
    </div>
  </div>
  <!--//slid-->
  <!--gallery-->
  <div id="gallery" class="welcome gallery">
    <div class="container">
      <h3 class="title"><%= t "gallery.title"%></h3>
      <div class="gallery-info">
        <div class="col-md-6 gallery-grids glry-grid1">
          <div class="gallery-grids-top">
            <a href="#portfolioModal1" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
              <img src="images/g1.jpg" class="img-responsive" alt=""/>
              <div class="b-wrapper">
                <span class="b-animate b-from-left">
                  <img class="img-responsive" src="images/e.png" alt=""/>
                </span>         
              </div>
            </a>
          </div>
          <div class="gallery-grids-top">
            <div class="col-md-6 bottom-grids">
              <a href="#portfolioModal2" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
                <img src="images/g2.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                  <span class="b-animate b-from-left">
                    <img class="img-responsive" src="images/e.png" alt=""/>
                  </span>         
                </div>
              </a>
            </div>
            <div class="col-md-6 bottom-grids ">
              <a href="#portfolioModal3" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
                <img src="images/g3.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                  <span class="b-animate b-from-left">
                    <img class="img-responsive" src="images/e.png" alt=""/>
                  </span>         
                </div>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6 gallery-grids glry-grid1">
          <div class="gallery-grids-top">
            <div class="col-md-6 bottom-grids2 ">
              <a href="#portfolioModal4" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
                <img src="images/g4.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                  <span class="b-animate b-from-left">
                    <img class="img-responsive" src="images/e.png" alt=""/>
                  </span>         
                </div>
              </a>
            </div>
            <div class="col-md-6 bottom-grids2 ">
              <a href="#portfolioModal5" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
                <img src="images/g5.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                  <span class="b-animate b-from-left">
                    <img class="img-responsive" src="images/e.png" alt=""/>
                  </span>         
                </div>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="gallery-grids-top ">
            <a href="#portfolioModal6" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
              <img src="images/g6.jpg" class="img-responsive" alt=""/>
              <div class="b-wrapper">
                <span class="b-animate b-from-left">
                  <img class="img-responsive" src="images/e.png" alt=""/>
                </span>         
              </div>
            </a>
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- gallery Modals -->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-hidden="true">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="portfolio-container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h3><%= t "gallery.image0"%></h3>
                    <hr>
                    <img src="images/g1.jpg" class="img-responsive img-centered" alt="">
                    <p><%= t "gallery.description0"%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-hidden="true">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="portfolio-container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h3><%= t "gallery.image1"%></h3>
                    <hr>
                    <img src="images/g2.jpg" class="img-responsive img-centered" alt="">
                    <p><%= t "gallery.description0"%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-hidden="true">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="portfolio-container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h3><%= t "gallery.image2"%></h3>
                    <hr>
                    <img src="images/g3.jpg" class="img-responsive img-centered" alt="">
                    <p><%= t "gallery.description0"%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-hidden="true">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="portfolio-container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h3><%= t "gallery.image3"%></h3>
                    <hr>
                    <img src="images/g4.jpg" class="img-responsive img-centered" alt="">
                    <p><%= t "gallery.description0"%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-hidden="true">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="portfolio-container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h3><%= t "gallery.image4"%></h3>
                    <hr>
                    <img src="images/g5.jpg" class="img-responsive img-centered" alt="">
                    <p><%= t "gallery.description0"%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-hidden="true">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="portfolio-container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h3><%= t "gallery.image5"%></h3>
                    <hr>
                    <img src="images/g6.jpg" class="img-responsive img-centered" alt="">
                    <p><%= t "gallery.description0"%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--//gallery Modals -->
      </div>
    </div>
  </div>
  <!--//gallery-->
  <!--contact -->
  <div class="welcome contact" id="contact">
    <div class="container">
      <h3 class="title wow fadeInDown animated" data-wow-delay=".5s"><%= t "contact.title"%></h3>
      <div class="contact-row">
        <div class="col-md-6 contact-left">
          <iframe class="wow slideInLeft animated" data-wow-delay=".5s" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 contact-right wow slideInRight animated" data-wow-delay=".5s">
          <h4><%= t "contact.address1"%></h4>
          <div class="address-left">
            <p><%= t "contact.description1"%></p>
          </div>
          <div class="address-right">
            <p><%= t "contact.phone"%></p>
            <p>E-mail : <a href="mailto:info@example.com">mail@example.com</a></p>
          </div>
          <div class="clearfix"></div>
          <!--accordion-->
          <div class="info">
            <h4><%= t "contact.useful"%></h4>
            <ul class="faq">
              <li class="item1 wow fadeInDown animated" data-wow-delay=".5s"><a href="#"><span class="glyphicon glyphicon-chevron-down"></span><%= t "contact.hint1"%></a>
                <ul>
                  <li class="subitem1"><p><%= t "contact.description1"%></p></li>                    
                </ul>
              </li>
              <li class="item2 wow fadeInDown animated" data-wow-delay=".5s"><a href="#"><span class="glyphicon glyphicon-chevron-down"></span> <%= t "contact.hint2"%></a>
                <ul>
                  <li class="subitem1"><p><%= t "contact.description2"%></p></li>                   
                </ul>
              </li>
              <li class="item3 wow fadeInDown animated" data-wow-delay=".5s"><a href="#"><span class="glyphicon glyphicon-chevron-down"></span> <%= t "contact.hint3"%></a>
                <ul>
                  <li class="subitem1"><p><%= t "contact.description3"%></p></li>                    
                </ul>
              </li>
              <li class="item4 wow fadeInDown animated" data-wow-delay=".5s"><a href="#"><span class="glyphicon glyphicon-chevron-down"></span> <%= t "contact.hint4"%></a>
                <ul>
                  <li class="subitem1"><p><%= t "contact.description4"%></p></li>                   
                </ul>
              </li> 
            </ul>
            <!-- script for tabs -->
            <script type="text/javascript">
              $(function() {
              
                var menu_ul = $('.faq > li > ul'),
                     menu_a  = $('.faq > li > a');
                
                menu_ul.hide();
              
                menu_a.click(function(e) {
                  e.preventDefault();
                  if(!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true,true).slideDown('normal');
                  } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true,true).slideUp('normal');
                  }
                });
              
              });
            </script>
            <!-- script for tabs -->
          </div>
          <!--accordion-->
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="contact-form">
        <h3 class="title wow fadeInDown animated" data-wow-delay=".5s"><%= t "accordion.title"%></h3>
        <p><%= t "accordion.description"%></p>
            <%= form_for @contact do |message_form| %>
              <% if @contact.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this message from being saved:</h2>
                  <ul>
                  <% @contact.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <fieldset>
                <div class="field">
                  <%= message_form.text_field :name, placeholder: "Name", required: "" %>
                </div>
                
                <div class="field">
                  <%= message_form.email_field :email, placeholder: "Email", required: ""%>
                </div>
                
                <div class="field">
                  <%= message_form.text_area :message, placeholder: "Message", required: ""%>
                </div>
              </fieldset>
              
              <fieldset>
                <div class="field" class="wow zoomIn animated" data-wow-delay=".5s">
                  <%= message_form.submit "Send" %>
                </div>
              </fieldset>
            <% end %>

      </div>
    </div>
  </div>
  <!--//contact -->
  <!--footer-->
  <div class="welcome footer">
    <div class="container">
      <div class="col-md-4 footer-grids wow fadeInLeft animated" data-wow-delay=".5s">
        <h3>Review</h3>
        <p>Sed ut turpis elit ullamcorper in auctor non, accumsan vel lacus nulla auctor cursus nunc. Maecenas ultricies dolor in urna tempus, id egestas erat finibus  interdum lectus eget scelerisque.</p>
      </div>
      <div class="col-md-3 footer-grids wow fadeInLeft animated" data-wow-delay=".5s">
        <h3>Contact Me</h3>
        <p>111-2nd Avenue Canada.<br>
          New York City USA.<br>
          Office : +00 111 1111 111<br>
          Support to : <a href="mailto:info@example.com">mail@example.com</a>
        </p>
      </div>
      <div class="col-md-5 footer-grids wow fadeInRight animated" data-wow-delay=".5s">
        <h3>Newsletter</h3>
        <form>
          <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="clearfix"> </div>
      <div class="footer-copy wow slideInUp animated" data-wow-delay=".5s">
        <p>© 2016 Scrutiny. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
      </div>
    </div>
  </div>
  <!--//footer-->

